<div class = "container-fluid">
    <div class = "container-design">
        <div  class = "backbtn">
            <button (click) = "backbtnClicked()" id = "chevron">
                <i class = "fas fa-chevron-left"  ></i>
            </button>
        </div>

        <div class = "regidivision">
            <img src="assets\Images\registration_img.png" id = "reg_img">
        </div>
    </div>

    <div class="container-form">
        <form [formGroup] = "regiform" (ngSubmit) = "onSubmit(accountdetails.value)" #accountdetails="ngForm" >
            <div class = "greetings">
                <h4>Create My Account</h4>
            </div>

            <div class = "visitor_info">
                <label for = "firstName"> First Name </label>
                
                <input type = "text" name = "firstName"
                formControlName = "firstName">
            </div>


            <div class = "visitor_info">
                <label for = "lastName"> Last Name </label>
                
                <input type = "text" name = "lastName"
                formControlName = "lastName">
            </div>


            <div class = "visitor_info">
                <label for = "companyName"> Company Name </label>
            
                <input type = "text" name = "companyName"
                formControlName = "companyName">
            </div>


            <div class = "visitor_info">
                <ng-template #rt let-r="result" let-t="term">
                    <img [src]="'assets/Country Flags/' + r['flag']" class="mr-1" style="width: 15px">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
                

                <label for="typeahead-template">Country</label>
                
                <input type = "text" id = "typeahead-template" 
                name = "country" placeholder = "Search for your country"
                [ngbTypeahead]="search" [inputFormatter]="formatter" 
                [resultTemplate]="rt" formControlName="bansa">
                
            </div>


            <div class = "logincredentials">
                <label for = "email" id = "lblEmail"> Email Address </label>
                <input type = "email" name = "email" id = "email" formControlName = "email" >
            </div>

            <div class = "logincredentials">
                <label for = "password"> Password </label>
                <div class="forToggle">
                    
                    <input type = "password" id = "password" formControlName = "password">
                    <span class = "notslashed-p">
                        <i class="far fa-eye "></i>
                    </span>
                    <span class = "slasheye-p">
                        <i class="far fa-eye-slash"></i>
                    </span>
                </div>
            </div>

            <div class = "logincredentials">
                <label for = "confirmpass"> Confirm Passsword </label>
                
                <div class="forToggle">
                    <input type = "password" id = "confirmpass" formControlName = "confirmpass">
                    
                    <span class = "notslashed-cp">
                        <i class="far fa-eye "></i>
                    </span>
                    <span class = "slasheye-cp">
                        <i class="far fa-eye-slash"></i>
                    </span> 
                </div>
            </div>

            <div class ="terms">
                <label>By creating an account, you agree to our
                    <a href="#">Terms</a> and that you have read our
                    <a href="#">Data Use Policy.</a> 
                </label>
            </div>
            
            <div class = "registerbtn">
                <input type = "submit" value = "Register" id = "registerbutton">
            </div>

            <div class = "member">
                <a routerLink = "/login"> or login to my account </a>
            </div>
        </form>
    </div>
</div>
