<div class = "container-fluid">
    <div class = "container-design">
        <div  class = "backbtn">
            <button (click) = "backbtnClicked()" id = "chevron">
                <i class = "fas fa-chevron-left"></i>
            </button>
        </div>

        <div class = "regidivision">
            <img src="assets\Images\registration_img.png" id = "reg_img">
        </div>
    </div>

    <div class="container-form">
        <form [formGroup] = "regiform" (ngSubmit) = "onSubmit(accountdetails.value)" #accountdetails = "ngForm">
            <div class = "greetings">
                <h4>Create My Account</h4>
            </div>

            <div *ngIf = "submitted && invalidform" class="alert-danger">
                All fields are required.
            </div>

            <div class = "visitor_info" #FNdiv>
                <label for = "firstName"> First Name </label>
                
                <input type = "text" 
                name = "firstName" 
                formControlName = "firstName"
                maxlength = "30">
            </div>

            <div *ngIf = "regiform.controls.firstName.errors?.pattern 
                        && regiform.controls.firstName.touched" class="formError">
                Please enter valid name.
            </div>

            <div class = "visitor_info">
                <label for = "lastName">
                    Last Name
                </label>
                <input type = "text" 
                name = "lastName" 
                formControlName = "lastName"
                maxlength = "30">
            </div>

            <div *ngIf = "regiform.controls.lastName.errors?.pattern" class="formError">
                Please enter valid name.
            </div>

            <div class = "visitor_info">
                <label for = "companyName">
                    Company Name
                </label>
            
                <input type = "text"
                name = "companyName" 
                formControlName = "companyName"
                maxlength = "30">
            </div>

            <div *ngIf = "regiform.controls.companyName.errors?.pattern" class="formError">
                Please enter valid name.
            </div>


            <div class = "visitor_info">
                <ng-template #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
                <label for="typeahead-template">
                    Country
                </label>
                
                <input type = "text" 
                name = "country"
                id = "typeahead-template" 
                maxlength = "50"
                [ngbTypeahead] = "search"
                [inputFormatter] = "formatter" 
                [resultTemplate] = "rt"
                formControlName ="country">
            </div>
                
            <div class = "logincredentials">
                <label for = "email" id = "lblEmail">
                    Email Address
                </label>
                
                <input type = "email"
                name = "email" id = "email"
                formControlName = "email" 
                maxlength = "50">
            </div>
            
            <div *ngIf = "regiform.controls.email.touched && regiform.controls.email.errors?.email" class = "formError">
                Please enter a valid email.
            </div>

            <div class = "logincredentials" id="passwordcredential">
                <label for = "password">
                    Password
                </label>

                <div class="forToggle">
                
                    <input type = "password" 
                    formControlName = "password"
                    id = "password" 
                    maxlength = "16">
                    
                    <span class = "notslashed-p">
                        <i class="far fa-eye "></i>
                    </span>
                    <span class = "slasheye-p">
                        <i class="far fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            
            <passwordstrength id="passbar"
            [passwordToCheck] = "regiform.value.password"></passwordstrength>
            
            <div class = "logincredentials" id="confirmpassdivision">
                <label for = "confirmpass">
                    Confirm Passsword
                </label>
                
                <div class="forToggle">
                    <input type = "password" 
                    id = "confirmpass"
                    formControlName = "confirmpass"
                    maxlength = "16">
                    
                    <span class = "notslashed-cp">
                        <i class="far fa-eye "></i>
                    </span>
                    <span class = "slasheye-cp">
                        <i class="far fa-eye-slash"></i>
                    </span> 
                </div>
            </div>

            <div *ngIf = "!passwordchecker() && regiform.controls.confirmpass.touched" 
                class = "formError" id="confirmpasserror">
                Passwords must match.
            </div>
            
            <div class ="terms">
                <label>By creating an account, you agree to our
                    <a href="#">Terms</a> and that you have read our
                    <a href="#">Data Use Policy.</a> 
                </label>
            </div>
            
            <div class = "registerbtn">
                <input type = "submit" id = "registerbutton" value = "Register">
            </div>

            <div class = "member">
                <a routerLink = "/login"> or login to my account </a>
            </div>
        </form>
    </div>
</div>
