.strength{
    width:80%;
    padding:0;
    margin:0 auto;
    margin-bottom:1.75%;
}

.strengthBar {
    display: inline;
    list-style: none;
    margin-right: 3%;
    padding: 0;
    z-index : -1;
}

.point:last-of-type {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 4px;
    margin-top:0px;
    margin-right:1px;
    width: 12.50%;
}

p {
    font-weight: bold;
    font-size: 15px;
}

.level{
    margin-left:47%;
    text-align:left;
    width:50%;
    margin-bottom:3px;
    font-size:11px;
    text-shadow: 0.5px solid #333;
    text-transform: uppercase;
    letter-spacing: 0.5PX;
    height:15px;
}

#minreq{
    text-transform: none;
    font-size:11px;
    color:#333;
    text-align: justify;
}