@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&family=Sacramento&display=swap');
body{
    font-family: 'Roboto', 'Poppins', sans-serif;
}   

.container-fluid{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 94vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#chevron{
    border:none;
    padding: 2px 5px;
    cursor: pointer;
    background-color: #e5e5e5;
}

.backbtn{
    margin: 20px 0px 40px 20px;
}

.logindivision{
    justify-content: center;
    text-align: center;
}

#pressplay{
    width: 85%;
}

.container-design{
    height: 100vh;
    background-color: #e5e5e5;
}



.container-form{
    width: 100%;
}

form{
    width: 80%;
    height: 82%;
    margin: auto;
    text-align: center;
}

.greetings-top h2{
    padding: 0px;
    margin-top: 20%;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#SBBB{
    height: 55px;
    margin-bottom:25px;
}

#email, #password{
    width: 53%;
    margin: 7px;
    padding: 5px 5px 5px 20px;
    font-size:15px;
    color:#333333;
    background-color: #ededed;
    border: 2px solid #e5e5e5;
    border-radius: 15px;
}

.password-div{
    border:1px solid pink;
}

#password{
    margin-left: -13px;
}
.password-div{
    display:float;
}

.notslashed, .slasheye{
    margin-left: -40px;
    position: relative;
    z-index: 2;
}
.slasheye{
    font-size: 14px;
}

#email{
    margin-top:20px;
}

.bottom{
    margin:0;
    padding:0;
    width: 53%;
    font-size: 14px;
    text-align: center;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forgotpass{
    font-size: small;
    color:#bfbfbf;
}

.rememberme{
    font-size: small;
    font-weight: 500;
}

.signinbtn{
    width: 32%;
    padding: 3px;
    margin: 25px auto 3px;
    font-weight: 500;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #00B0EA;
    border: 1px solid #00B0EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.register{
    font-size: small;
    text-decoration: underline;
}

.alert-danger{
    margin:5px auto;
    padding:5px 0;
    width:50%;
    font-size:14px;
    text-align: center;
    border-radius:5px;
}

footer{
    width: 50%;
    margin-left:50%;
    font-size: small;
    text-align: center;
}



