<div class="container-fluid">
    <div class = "container-design">
        <div  class = "backbtn">
            <button (click) = "backbtnClicked()" id = "chevron">
                <i class = "fas fa-chevron-left"  ></i>
            </button>
        </div>
        <div class = "logindivision">
            <div class="pressplayDiv">
                <img src="assets\Images\login_pressplay.png" id = "pressplay">
            </div>
        </div>
    </div>
    
    <div class = "container-form">
        <div class="formDiv">
            <form [formGroup] = "loginform" (ngSubmit) = "onSubmit(logindetails.value)" #logindetails="ngForm">
                <div class = "greetings">
                    <div class = "greetings-bottom">
                        <img src="assets/Images/SBBB.png" alt="" id = "SBBB">
                    </div>
                </div>
                
    
                <div *ngIf = "submitted && invalidLogin"  class = "alert-danger">  
                    Your username or password is invalid.
                </div>
    
                <div>
                    <input type = "email" id = "email" 
                    placeholder = "E-mail Address"
                    ng-model = "email"
                    formControlName = "email"
                    required>
                    <div *ngIf = "submitted && loginform.controls.email.errors" class = "alert-danger">
                        <div *ngIf = "loginform.controls.email.errors.required">Your email is required</div>
                    </div> 
                </div>
    
                <div class = "password_div">
                    <input type = "password" id = "password"
                    placeholder = "Password"
                    ng-model = "passWord"
                    formControlName = "passWord"
                    maxlength = 16
                    required>
                    
                    <span class = "notslashed">
                        <i class="far fa-eye "></i>
                    </span>
                    <span class = "slasheye">
                        <i class="far fa-eye-slash"></i>
                    </span>
    
                    <div *ngIf = "submitted && loginform.controls.passWord.errors" class = "alert-danger">
                        <div *ngIf = "loginform.controls.passWord.errors.required">Your password is required</div>
                    </div> 
                </div>
    
    
                <div class = "bottom">
                    <div>
                        <label class = "rememberme">
                        <input type = "checkbox"
                        > Remember me?</label>
                    </div>
                    <div>
                        <a class = "forgotpass"> Forgot Password?</a>
                    </div>
                </div>
                
                <div>
                    <input type="submit" class="signinbtn" value="Log in">
                </div>
    
                <div class="registerDiv">
                    <a routerLink="/Registration" class = "register">not a member? register here</a>
                </div>
    
            </form>
        </div>
    </div>

</div>


