@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&family=Sacramento&display=swap');
body{
    font-family: 'Roboto', 'Poppins', sans-serif;
}   

.container-fluid{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#chevron{
    border:none;
    padding: 2px 5px;
    cursor: pointer;
    background-color: #e5e5e5;
}

.backbtn{

    margin: 5% 0% 0% 4%;
    height: 5%;
}

.logindivision{
    justify-content: center;
    text-align: center;
    border:1px solid transparent;
    height: 89%;
}

.pressplayDiv{
    margin:8% auto 0; 
    height:75%;
}

#pressplay{
    height:98%;
    max-width:90%;
}

.container-design{
    height: 100%;
    background-color: #e5e5e5;
}

.container-form{
    width: 100%;
    height: 100%;
    margin:auto;
}

.formDiv{
    height:80%;
    margin: 12% 0 0;
}

form{
    width: 84%;
    height: 100%;
    margin:auto;
    text-align: center;
}

#SBBB{
    margin-top: 12%;
    margin-bottom:30px;
    height: 55px;
}

#email, #password{
    width: 52%;
    margin: 1.25%;
    padding: 5px 5px 5px 20px;
    font-size:15px;
    color:#333333;
    background-color: #ededed;
    border: 2px solid #e5e5e5;
    border-radius: 15px;
}

#password{
    margin-left: -13px;
}
.password-div{
    display:float;
}

.notslashed, .slasheye{
    margin-left: -40px;
    position: relative;
    z-index: 2;
}
.slasheye{
    font-size: 14px;
}

#email{
    margin-top:20px;
}

.bottom{
    margin:0;
    padding:0;
    width: 53%;
    font-size: 14px;
    text-align: center;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forgotpass{
    cursor: pointer;
    font-size: small;
    color:#bfbfbf;
}

.rememberme{
    font-size: small;
    font-weight: 500;
}

.signinbtn{
    width: 32%;
    padding: 3px;
    margin: 25px auto 3px;
    font-weight: 500;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #00B0EA;
    border: 1px solid #00B0EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.register{
    color:#00B0EA;
    font-size: small;
    text-decoration: underline;
}

.registerDiv{
    padding:0;
    width:32%;
    margin:auto;
    margin-bottom:15px;
}

.alert-danger{
    margin:0 auto;
    padding:5px 0;
    width:51%;
    font-size:13px;
    text-align: center;
    border-radius:5px;
}

footer{
    width: 50%;
    margin-left:50%;
    font-size: small;
    text-align: center;
    border:1px solid black;
}


/* media queries */
/* media queries */
/* media queries */

/*Large Devices 992-1199*/ /* 992px and up*/
@media screen and (max-width:1024px){
    #email, #password, .bottom{
        width: 60%;
    }
    #pressplay{
        margin-top:7%;
        width: 85%;
    }
    form{
        width: 85%;
        height: 70%;
        margin: 15% auto 0;
    }
    
}


/*Medium Devices, Tablet, 768-991*/
@media screen and (max-width:991px){
    #pressplay{
        width: 93%;
        margin:8% auto;
    }

    
    form{
        margin: 15% auto 10%;
        width: 81%;
        height: 60%;
    }

    footer{
        display:none;
    }

    #SBBB{
        margin-top:5%;
        height: 45px;
        margin-bottom:25px;
    }
    
    #email, #password, .bottom{
        width: 75%;
    }

    .signinbtn{
        width: 45%;
    }

    .registerDiv{
        width: 45%;
        margin:auto;
        padding:0;
    }

    @media screen and (max-width:800px){
        form{
            margin: 10% auto 10%;
            width: 83%;
            height: 60%;
        }

        #email, #password, .bottom{
            width: 80%;
        }

        .signinbtn,.registerDiv{
            width: 57%;
        }
    }
}

/*Small Devices 576px to 767px*/
@media screen and (max-width:767px){
    #pressplay{
        width: 95%;
        margin:1% auto;
    }
    
    form{
        margin: 5% auto 2%;
        width: 85%;
        height: 60%;
    }

    #SBBB{
        margin-top:5%;
        height: 45px;
        margin-bottom:20px;
    }
    
    #email, #password, .bottom{
        width: 75%;
    }
    .alert-danger{
        width:73%;
        font-size:smaller;
    }

    .signinbtn, .registerDiv{
        width: 57%;
    }

    @media screen and (max-width:678px){
        .container-fluid{
            display:grid;
            grid-template-columns: 1fr;
        }
        .container-design{
            display:none;
        }

        footer{
            display:none;
        }
        
        form{
            margin: 12% auto 10%;
            width: 80%;
            height: 75%;
        }
        
        #email, #password, .bottom{
            width: 77%;
        }

        .alert-danger{
            width:75%;
        }

        #SBBB{
            margin-top:10%;
            height: 45px;
            margin-bottom:25px;
        }

        @media screen and (max-width:320px){
            form{
                margin: 5% auto 10%;
                width: 100%;
                height: 75%;
            }

        }

        @media screen and (max-width:240px){
            #SBBB{
                margin-top:7%;
                height: 40px;
                margin-bottom:15px;
            }

            form{
                margin:auto;
                width: 100%;
            } 
            
            #email, #password, .bottom{
                width: 85%;
                font-size:14px;
            }

            .bottom{
                font-size:12px;
            }

            .registerDiv{
                margin-bottom:30px;
            }
        }
    }


}


