<div class = "container-fluid">
    <div class = "bg">
        <img src = "assets/Images/verification.png" id = "verify_img">
    </div>
    
    <form [formGroup] = "verifyForm" (ngSubmit) = "onVerify(clientdetails.value)" #clientdetails = "ngForm">
        <div class="headerForm">
            <h2> Verify Email </h2>
            <img src="assets/Images/verification_email.png">
        </div>

        <div class = "spiel">
            <p>We have sent you a verification code.Please check your email. </p>
        </div>

        <div *ngIf = "submitted && !correctCode" class="alert-danger">
            Invalid code.
        </div>
        <div *ngIf = "submitted && duplicateEmail" class="alert-danger">
            Email already registered.
        </div>
        

        <div class="field">
            <input type = "text" 
            placeholder = "Enter code"
            formControlName = "code">
        </div>


        <div class="submit">
            <input type="submit" id="submitBtn" (click)="open(content)">
        </div>
        
        <div class="resend">
            <button (click) = "resending($event)">Resend Code</button>
        </div>
    </form>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body" id="mamamo">
        <div class="modalUpper">
            <h3 id="vsuccess">Verfication Successful!</h3>
            <img src="assets/Images/vs.png" alt="verification successful">
        </div>
        
        <div class="modalLower">
            <p>Congratulations, you have sucessfully verified your email. You may now proceed logging in.</p>
        </div>

    </div> 
    
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" id="loginbtn" (click)="Onproceed()">
            Log in
        </button>
    </div>

</ng-template>