<div class = "container-fluid">
    <div class = "bg">
        <img src = "assets/Images/verification.png" id = "verify_img">
    </div>
    
    <form [formGroup] = "verifyForm" (ngSubmit) = "onVerify(clientdetails.value)" #clientdetails = "ngForm">
        <div class="headerForm">
            <h2> Verify Email </h2>
            <img src="assets/Images/verification_email.png">
        </div>

        <div class = "spiel">
            <p>We have sent you a verification code.Please check your email. </p>
        </div>

        <div *ngIf = "!correctCode" class="alert-danger">
            Invalid code.
        </div>

        

        <div class="field">
            <input type = "text" 
            placeholder = "Enter code"
            formControlName = "code">
        </div>


        <div class="submit">
            <input type="submit" id="submitBtn">
        </div>
        
        <div class="resend">
            <a>Resend Code</a>
        </div>
    </form>
</div>