@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
.container-fluid{
    width:100%;
    height:100vh;
    background: linear-gradient(169.88deg, #FFE53B 26.21%, rgba(255, 37, 37, 0.19) 94.29%);
    z-index: -2
}

.bg{
    height:100%;
    margin:auto;
    text-align: center;
    z-index: -1;
}

#verify_img{
    top: 45%;
    width: 68%;
    height: 55%;
    position: relative;
}

form{
    top: -85%;
    width:27%;
    height:50%;
    min-height: 295px;
    max-height: 315px;
    margin:0 auto;
    padding:1%;
    border-radius:3.5%;
    position:relative;
    text-align:center;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerForm {
    margin: 1% auto 0;
}

.headerForm h2{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    padding-top:5%;
    font-weight:600;
}

.headerForm img{
    width: 12%;
}

.spiel{
    width:80%;
    margin: auto auto 2.5%;
}

.spiel p{
    padding:0;
    margin:0;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.field{
    margin-bottom:3%;
}

.field input{
    width:68%;
    padding:6px 10px;
    border-radius:5px;
    font:14px;
    font-weight: 300;
    border: 1px solid #656565;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit{
    width:100%;
}

#submitBtn{
    width:68%;
    color: #FFF;
    padding: 4px;
    margin: 2px;
    font-family: 'Roboto', 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #4284FB;
    border:1px solid #4284FB;
}

.resend button{
    color: #3399ff;
    font-size: small;
    background:none;
    border:none;
    padding:0;
}

resend button:hover{
    color: #6600ff;
    text-decoration: underline;
    cursor: pointer;
}

.alert-danger{
    position:relative;
    top:-7px;
    margin:auto;
    
    text-align:center;
    width:68%;
    font-size: small;
}

#vsuccess{
    text-align:center;
}

.modalUpper{
    text-align:center;
}

.modalLower{
    text-align:center;
    width:70%;
    margin:auto;
}




/**** Media Queries *****/
/**** Media Queries *****/
/**** Media Queries *****/

/*Large Devices 992-1199*/
/* 992px and up*/
@media screen and (max-width:1285px){
    form{
        width:30%;
    }
}

@media screen and (max-width:1199px){
    form{
        width:32%;
    }

    @media screen and (max-width:1070px){
        form{
            width:35%;
        }
    }
}

/*Medium Devices, Tablet, 768-991*/
@media screen and (max-width:991px){
    form{
        width:38%;
    }
    #verify_img{
        top: 50%;
        width: 100%;
        height: 50%;
        position: relative;
    }
    @media screen and (max-width:879px){
        form{
            width:45%;
        }
    }
}

/*Small Devices 576px to 767px*/
@media screen and (max-width:767px){
    form{
        width:50%;
    }
    @media screen and (max-width:672px){
        form{
            width:60%;
        }
    }
}

@media screen and (max-width:575px){
    form{
        top:-90%;
        width:70%;
    }
    .headerForm h2{
        font-size: 25px;
    }
    
    @media screen and (max-width:490px){
        form{
            width:90%;
            height:45%;
            margin-bottom:5px;
        }
        .headerForm h2{
            font-size: 25px;
        }
    }
    @media screen and (max-width:320px){
        form{
            width:90%;
            min-height:60%;
        }
        .headerForm h2{
            font-size: 20px;
        }

        #verify_img{
            top: 45%;
            width: 100%;
            height: 55%;
            position: relative;
        }

        .headerForm h2{
            font-size: 20px;
        }

        .spiel{
            width:75%;
            margin: auto auto 2.5%;
        }
        
        .spiel p{
            font-size: 15px;
        }

        .field input, #submitBtn{
            width:75%;
        }

        @media screen and (max-width:240px){
            form{
                top:10%;
                width:95%;
                height:83%;
            }
            .bg{
                display:none;
            }
            .headerForm h2{
                font-size: 15px;
            }
            
            .spiel p{
                font-size: 14px;
            }
    
            .field input, #submitBtn{
                width:75%;
                font-size: 13px;
                
            }
        }
    }

    

}
